.UIGadgetThemes .TodosList .ReadPost {
 color:#cccccc;
}

.UIGadgetThemes .GadCont span {
    color: #1A1A1A;
    font-weight: bold;
}

.UIGadgetThemes .GadCont .customLink {
	text-decoration:underline;
	color:#226ab4; 
	cursor:pointer;
	font-weight: normal;
}

.UIGadgetThemes .TodosList .CreatedDate {
 color:#707070;
 font-style: italic;
 padding-left: 25px;
 padding-top: 2px;
}

.UIGadgetThemes .Icon {
  color: #000000;
  margin-bottom: 5px;
  padding-left: 25px;
  text-decoration: none;
}
.link_0 {
margin-bottom: 5px;
padding-left: 14px;
text-decoration: none;
display: block;
}

.link_1 {
margin-bottom: 5px;
padding-left: 14px;
text-decoration: none;
display: block;  
}

.link_2 {
margin-bottom: 5px;
padding-left: 27px;
text-decoration: none;
display: block;
}

.menu {

color: black !important;
font-weight: bold;
color: lightgray;
padding: 10px 8px;
}

.ArrowIcon {float: left; padding-top: 5px; margin-right: 10px;}
.ArrowIcon img {width: 9px; height: 9px; background: url('images/ArrowRight.gif') no-repeat top;}
